.top-nav {
  height: 4rem;
  background: white;
  text-align: right;
}

.top-nav ul {
  margin:0;
  width: 50%;
  list-style: none;
  padding:1.5em 0;
  float:right;
}

.top-nav ul li a {
  display: inline-block;
  margin-right: 1em;
  float: left;
  text-align: right;
  color: grey;
  text-decoration: none;
  padding-left: 1em;
  font-weight: lighter;
  font-size: 15.5px
}

.top-nav ul li a:hover {
  color: black;
}

.top-nav .works {
   color: #4d4d4d;
   font-weight: normal;
 }



.logo {
  float:left;
  top:0;
  padding: 12px 0;

}

.logo img {
  height:18%;
  width:18%;
}

.top-nav div{
  width:80%;
  margin: 0 auto;
}


body {
  background-color: lightgrey;
}
