html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-nav {
  height: 4.5rem;
  background: white;
  text-align: right;
}

.top-nav ul {
  margin:0;
  width: 60%;
  list-style: none;
  padding:1.5em 0;
  float:right;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
}

.top-nav ul li a {
  display: inline-block;
  margin-right: 1em;
  float: left;
  text-align: right;
  color: grey;
  text-decoration: none;
  padding-left: 1em;
  font-weight: light;
}

.top-nav ul li a:hover {
  cursor: pointer;
  color: #333333;
}

.top-nav .works {
  color: #4c5058;
   font-weight: 500;
 }

.top-nav{
  position: fixed;
  width: 100%;
  z-index:999;
}

.logo {
  float:left;
  top:0;
  padding: 12px 0;
}

.logo img {
  height:18%;
  width:18%;
}

.top-nav div{
  width:75%;
  margin: 0 auto;
}

.introduction{
  background-image: url('../images/background-image.jpeg');
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 595px;
  color: white;
}

.introduction > div {
  text-align: center;
  padding: 12em 0;
}

.introduction h1 {
  font-weight: lighter;
  font-size: 3.125rem;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}

.introduction h3 {
  font-weight: lighter;
  margin-top: 1.25rem;
  font-size: 1.563rem;
}

.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    background-color: #f15a29;
    border-color: #f15a29;
    font-size: 1.125rem;
    width: 9.75rem;
    height: 3.5rem;
}

button:hover {
  cusor: pointer;
  background-color: #ff471a;
}

.cases  {
  text-align: center;
  padding: 5em 0 3em;
}

.cases h2{
  font-size: 44px;
  font-weight:100;
}

.cases li {
  display: inline-block;
  /*margin-left:1rem;*/
  margin-right: 5rem;
  font-weight:100;


}

 ul {
  padding: 0;
}

.cases .devices h3 {
  font-size: 24px;
  font-weight: 400;
  /*height: 4em;*/
  /*border: 1px solid black;*/
  box-sizing: border-box;

}

.footer  {
  text-align: center;
}

.footer .social li{
    margin-right: .25rem;
    margin-left: .25rem;
    padding: 10px 0px;
    border: 1px solid #F5F5F5;
    display: inline-block;
    border-radius: 50%;
    width: 2.5em;
    margin-top: -5px;
}

.fa-twitter {
  color: #00aced;
}

.fa-facebook {
  color: #3B5998;
}

.fa-instagram {
  color: #3f729b;
}

.footer h5 {
  font-weight: normal;
  font-size: 16.5px;
  margin-top: 19px;
  margin-bottom: 2px;
}

hr{
  text-align: center;
  width: 55%;
  border-top: #FFFAFA;
  margin-bottom: 3px;
}

 .footer p {
  color: grey;
  font-weight: lighter;
  font-size: 14.25px;
}

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
